nav{
    display:flex;
    justify-content: flex-end;
    background-color: #062135;
    a{
        padding:20px;
        font-size:1.5rem;
        color:white;
    }
}

header{
    text-align: center;
    background-color:#0A314D;
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
}

.body{
    // background-color:#0A314D;
    display:flex;
    flex-direction:row;
    padding-top: 50px;
    justify-content: space-between;
    border:solid black 1px;
    section{
       // background-color: #062135;
        flex-flow: column wrap;
   h1{
       font-size: 2rem;
   }
        p{
        width: 40%;
        font-size: 1.5rem;
            }
    }
    .rightAlign{
        margin-right:1%
    }
}