nav{
    display:flex;
    justify-content: flex-end;
    background-color: #062135;
    a{
        padding:20px;
        font-size:1.5rem;
        color:white;
        text-decoration: none;
    }
}

header{
    text-align: center;
    // background-color:#0A314D;
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
}

.middle{
    display: flex;
    flex-direction: row;
    align-content: space-around
}

.sidebar{
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align:center;
    border:solid black 1px;
}

.body{
    // background-color:lightblue;
    display:flex;
    flex-direction:row;
    padding-top: 50px;
    justify-content: space-between;
    // border:solid black 1px;
    width:75%;
    float: right;
    section{
       // background-color: #062135;
        flex-flow: column wrap;
   h1{
       font-size: 2rem;
   }
        p{
        width: 40%;
        font-size: 1.5rem;
            }
    }
    .rightAlign{
        text-align: right;
        float: right;
        width: 300px;

    }
}